@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');
@import '../src/styles/background.css';
@import '../src/styles/navbar.css';
@import '../src/styles/about.css';
@import '../src/styles/roadmap.css';
@import '../src/styles/community.css';
@import '../src/styles/partners.css';
@import '../src/styles/founders.css';
@import '../src/styles/client.css';
@import '../src/styles/discord.css';
@import '../src/styles/faq.css';
@import '../src/styles/contact.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: url(./img/cosmos.png);
  background-attachment: fixed;
}

.title {
  display: block;
  margin: 0 auto 30px;
  font-size: 40px;
  text-shadow: 0 10px 10px rgba(113, 15, 133, 0.6),
  2px 2px 1px rgb(94, 19, 112),
  -1px -1px 1px rgb(216, 199, 212);
}

.container {
  padding: 4 0px 10%;
  display: flex;
  flex-direction: column;
}