@import './variables.scss';


.about__container {
  display: flex;
  justify-content: center;
  height: 100%;

  & img {
    margin: 70px auto 0;
    width: 50%;
  }
  background:rgb(0, 0, 0);
}

.about__text {
  position: absolute;
  width: 450px;
  top: 300px;
  right: 30px;
  text-align: center;

  & .about__title {
    margin-bottom: 20px;
    color: #fff;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 4px 4px 15px rgb(0, 0, 0),
    -4px -4px 15px rgb(0, 0, 0);
    text-transform: uppercase;

  }

  & a {
    padding: 10px 25px;
    text-decoration: none;
    background: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
  }
}


.border {
  position: absolute;
  width: 680px;
  height: 235px;

}

.about__movie {
  border: 4px double rgb(209, 12, 176);
  z-index: 2;
}

@media only screen and (max-width: 995px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {
}
