$color1-section: rgb(12, 19, 39);
$color2-section: rgb(237, 226, 243);
$blue: rgb(55,71,133);
$purple: rgb(118,104,165);
$beige: rgb(235,220,199);
$burgundy: rgb(102,45,80);
$light-blue: #3498db;

$margin-section: 100px;
$title-size: 32px